* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

img {
  width: 583px;
  height: 374px;
  position: relative;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  line-height: 38px;
  text-align: center;
  margin-top: 126px;
  margin-bottom: 26px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  width: 342;
  height: 74px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 70%;
  padding-left: 20px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
}

.input-min {
  margin-right: 62px;
}

button {
  background: rgba(174, 195, 70, 1);
  box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
  border-radius: 10px;
  width: 342px;
  height: 72px;
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  margin-top: 80px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  img {
    position: relative;
    margin: 45px 0 45px 30px;
    width: 90%;
    height: auto;
  }

  h2 {
    margin-left: 30px;
  }

  input {
    width: 90%;
    margin: 0 0 5px 25px;
  }

  button {
    margin: 50px 0 30px 10px;
  }
}
